.container {
  max-width: 1000px;
  margin: 50px auto;
}

.cards {
  display: flex;
  margin: 15px;
}

.card {
  flex: 1 1 auto;
  margin: 10px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);

}
.card:hover {
  margin-top: -5px;
}
.card-body {
  height: 180px;
  background-size: cover;
  position: relative;
}
